@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family: "Poppins", sans-serif;
    
}
.leckerli{
    font-family: "Leckerli One", cursive;
    
}
@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
}
  

  
  .animate-orbit {
    animation: orbit 8s linear infinite;

    /* margin-left: 100px; */
    
    
    transform: translate(-50%,-50%);
    /* transform-origin: center; */
  }
  @keyframes pulse-slow {
    0%, 100% {
      opacity: 0.7;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
  }
  
  .animate-pulse-slow {
    animation: pulse-slow 6s ease-in-out infinite;
  }


/* font-family: "Leckerli One", cursive; */