@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family: "Poppins", sans-serif;
    
}




.leckerli{
    font-family: "Leckerli One", cursive;
    
}
.container:hover{
  background-color: transparent;
}
.followed-user{
  width: 100%;
  height: 100%;
  background-color: #EF233C;
  padding: 10px 5px 10px;
  color: white;
  font-size: 2rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.accept-trip{
  width: 100%;
  height: 100%;
  background-color: #EF233C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accept-trip-text{
  color: white;
  font-size: 3rem;
  font-weight: 800;
}











@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
}
  

  
  .animate-orbit {
    animation: orbit 8s linear infinite;

    /* margin-left: 100px; */
    
    
    transform: translate(-50%,-50%);
    /* transform-origin: center; */
  }
  @keyframes pulse-slow {
    0%, 100% {
      opacity: 0.7;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
  }
  
  .animate-pulse-slow {
    animation: pulse-slow 6s ease-in-out infinite;
  }





  /* css for landing/features component */
  .slide-from-left {
    transform: translateX(-150px);
  }
  .slide-from-right {
    transform: translateX(150px);
  }
  
  /* --- Animate In --- */
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-150px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(150px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* --- Animate Out --- */
  @keyframes slideOutLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-150px);
    }
  }
  @keyframes slideOutRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(150px);
    }
  }
  
  /* --- Animation Utility Classes --- */
  .animate-slideIn.slide-from-left {
    animation: slideInLeft 0.9s ease-out forwards;
  }
  .animate-slideIn.slide-from-right {
    animation: slideInRight 0.9s ease-out forwards;
  }
  .animate-slideOut.slide-from-left {
    animation: slideOutLeft 0.9s ease-in forwards;
  }
  .animate-slideOut.slide-from-right {
    animation: slideOutRight 0.9s ease-in forwards;
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(25px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.9s ease-out both;
  }


















  
  
  .custom-scroll::-webkit-scrollbar {
    display: none;
    
  }
  
 
  
  
  
 
  
 
  